---
import Firebase from "../Firebase.astro";
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:url" content="https://dr.stonefaq.net/" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="" />
		<meta
			property="og:description"
			content="Dr.STONEアニメ勢向けFAQまとめ"
		/>
		<meta
			property="og:site_name"
			content="Ｄｒ．ＳＴＯＮＥ(ドクターストーン)非公式FAQ"
		/>
		<meta property="og:image" content="/favicon.png" />

		<title>Ｄｒ．ＳＴＯＮＥ(ドクターストーン)非公式FAQ</title>
	</head>
	<Firebase />
	<body>
		<main style="text-align:center;width:80%;margin:0 auto;">
			<blockquote class="twitter-tweet tw-align-center">
				<p lang="ja" dir="ltr">
					Dr.STONEアニメ勢むけFAQ（良くある質問と回答）<br /><br
					/>Q.ゲンの女装にコハクは「女子にしては長身に見えてしまうな」とダメ出ししていましたが、あの風貌と声ならイケるのでは？<br
					/><br
					/>A.ゲンは175cmなので和田アキ子さんより高いです。そういう女性もいますが、潜入という目的を考えると目立ちすぎますね。
				</p>&mdash; 稲垣理一郎(リーチロー)💵🪨🏈 (@reach_ina) <a
					href="https://twitter.com/reach_ina/status/1666332463524904961?ref_src=twsrc%5Etfw"
					>June 7, 2023</a
				>
			</blockquote>
			<blockquote class="twitter-tweet tw-align-center">
				<p lang="ja" dir="ltr">
					Dr.STONEアニメ勢むけFAQ（良くある質問と回答）<br /><br
					/>Q.モズの言う『お手合わせ』とは、戦闘のことですか？<br
					/><br />A.いいえ
				</p>&mdash; 稲垣理一郎(リーチロー)💵🪨🏈 (@reach_ina) <a
					href="https://twitter.com/reach_ina/status/1664941019446771712?ref_src=twsrc%5Etfw"
					>June 3, 2023</a
				>
			</blockquote>
			<script
				async
				src="https://platform.twitter.com/widgets.js"
				charset="utf-8"></script>
		</main>
	</body>
</html>
